<html> 
<head>
    <meta charset="UTF-8">
    <title>Infos gestion locative c'est aussi une saisie de biens</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>  
<body>  
 
<form action="/goToResults" method="POST">  
<div class="control-group">
    <label class="control-label" for="typeDeBiens">type De Biens</label>
    <div class="controls">
      <input type="text" id="typeDeBiens" name="typeDeBiens" placeholder="type De Biens">
    </div>
  </div>
  <br>
 <div class="control-group">
    <label class="control-label" for="prix">Prix Achat</label>
    <div class="controls">
      <input type="text" id="prixAchat" name="prix Achat" placeholder="prix d'achat">
    </div>
  </div>
<br>

<div style="margin-bottom: 25px" class="control-group">
      <label class="control-label" for="inputIcon">Prix de vente</label>
      <div class="controls">
        <div class="input-prepend">
          <input class="span2" id="PrixDeVente" type="text" name="PrixDeVente" placeholder="Prix de vente">
        </div>
      </div>
    </div>
<br>
 <div class="control-group">
    <label class="control-label" for="ca">Chiffre d'affaires</label>
    <div class="controls">
      <input type="text" id="chiffreAffaires" name="chiffreAffaires" placeholder="chiffre d'affaires">
    </div>
  </div>
<br>
 <div class="control-group">
    <label class="control-label" for="benef">Bénéfice ou perte</label>
    <div class="controls">
      <input type="text" id="benef" name="benef" placeholder="benef">
    </div>
  </div>
<br>
 <div class="control-group">
    <label class="control-label" for="dateDebut">Date de début exploitation</label>
    <div class="controls">
      <input type="text" id="dateDebut" name="dateDebut" placeholder="dateDebut">
    </div>
  </div>
<br>
 <div class="control-group">
    <label class="control-label" for="dateFin">Date de fin exploitation</label>
    <div class="controls">
      <input type="text" id="dateFin" name="dateFin" placeholder="dateFin">
    </div>
  </div>
<br>
<div class="control-group">
    <label class="control-label" for="TempsPossession">Temps Possession</label>
    <div class="controls">
      <input type="text" id="tpsPossession" name="tpsPossession" placeholder="tpsPossession">
    </div>
  </div>
<br>
<div class="control-group">
    <label class="control-label" for="chargesTotales">Charges totales</label>
    <div class="controls">
      <input type="text" id="chargesTotales" name="chargesTotales" placeholder="chargesTotales">
    </div>
  </div>
<br>
  <button type="submit" class="btn">Submit</button>

</form>
 
   
</body>  
</html> 
