<html> 
<head>
    <meta charset="UTF-8">
    <title>Infos générales</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script language="javascript">
    
    </script>
</head>  
<body>  
        <nav>
        <ul>
                <li class="menu-infos"><a href="/infos">Mes infos</a></li>
                <li class="menu-locations"><a href="/infoLoc">Mes locations</a></li>
                <li class="menu-paiements"><a href="/paiement">Mes paiements</a></li>
                <li class="menu-total"><a href="/ensLoc">valeur totale des locs</a></li>
                <li class="menu-deconnexion"><a href="/logout">Se déconnecter</a></li>
         </ul>
         </nav>
</body>  
</html> 
