<html> 
<head>
    <meta charset="UTF-8">
    <title>Gestion Locative</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>  
<body>  
 
<table id="tableau" class="display">
<thead>
            <tr>
                <th>Type de Biens</th>
                <th>Prix d'achat</th>
                <th>Prix de vente</th>
                <th>Chiffre d'affaires</th>
                <th>Bénéfice ou perte</th>
                <th>Date de début d'exploitation</th>
                <th>Date de fin d'exploitation</th>
                <th>Temps de possession en jours</th>
                <th>Charges totales du bien</th>
               
            </tr>
        </thead>
<tbody>
         <tr>
<select >
  <option value="voiture">Voiture</option>
  <option value="utilitaire">Utilitaire</option>
  <option value="immobilier">Immobilier</option>
  <option value="informatique">Informatique</option>
  <option value="autre">Autre</option>
</select>
         </tr>
     <tr>
 <input type="text" name="prixAchat" placeholder="Prix d'achat">
     </tr>
 <tr>
 <input type="text" name="prixVente" placeholder="Prix de Vente">
     </tr>
<tr>
<input type="text" name="chiffreAffaire" placeholder="Chiffre d'affaires">
</tr>
<tr>
<input type="text" name="benef" placeholder="Benef">
</tr>
<tr>
<input type="text" name="dateDebut" placeholder="Date Début">
</tr>
<tr>
<input type="text" name="dateFin" placeholder="Date Fin">
</tr>
<tr>
<input type="text" name="tpsPossession" placeholder="Temps possession">
</tr>
<tr>
<input type="text" name="ChargesTotales" placeholder="Charges Totales">
</tr>
</tbody>

</table>
 
   
</body>  
</html> 
