<html> 
<head>
    <meta charset="UTF-8">
    <title>Les divers calculs de rendements et de locations</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>  
<body> 
<nav>
<ul>
<li class="menu-vehicule"><a href=".../views/vehicule.html">Les véhicules</a></li>
<li class="menu-biens"><a href="views/biens.html">Les biens immobiliers</a></li>
<li class="menu-locatif"><a href="views/formGestion.html">Les autres locatifs</a></li>
<li class="menu-rendement"><a href=".../views/rendement.html">Les rendements obtenus</a></li>
</ul>
</nav> 
 <h1>Véhicules à la location</h1>
<h2>Calcul des locations du 1er véhicule</h2>
<div>
<label>Référence de la location</label>
<p>Numéro de location</p>
<label>Date de début de location</label>
<p>noter la date de début</p>
<label>Date de fin de location</label>
<p>noter la date de fin de location</p>
<label>Coût de la location</label>
<p>Prix obtenu</p>
</div>
<br>
<div>
<h2>Surface détaillée du bien</h2>
<label>Surface mesurée en loi carrez</label>
<p>15 m2</p>
<label>Surface perçue en réel</label>
<p> 21 m2</p>
<label>hauteur sous plafond</label>
<p> 2m50</p>
</div>
<div>
<h2>Aspects financiers</h2>
<label>Loyer envisagé</label>
<p>530 euros Charges Comprises</p>
<label>Crédit Immobilier</label>
<p>340 euros par mois</p>
<label>Charges locatives</label>
<p>40 euros par mois</p>
<label>Cash flow mensuel</label>
<p>150 euros par mois</p>
</div>

<h2>Objectifs à long terme</h2>
<label>Sur le plan financier:</label>
<p>Etre indépendant financièrement et pouvoir réaliser ses projets et aider les autres</p>
<label>Sur le plan patrimonial:</label>
<p>Se constituer un important patrimoine financier à léguer</p>
<br>
<br>
<h1>les véhicules et leurs caractéristiques</h1>
<h2>Voitures à disposition</h2>
<div>
<h3>1er vehicule 2019</h3>
<h4>Renault Clio</h4>
<label>Marque</label>
<p>Renault</p>
<label>Modele</label>
<p>Clio</p>
<label>Année de 1ere immatriculation</label>
<p>2009</p>
<label>Pays d'immatriculation</label>
<p>France</p>
<label>Energie</label>
<p>Diesel</p>
<h4>Sélection des options présentes</h4>
<form action="pgeToReach.do">
<input type="checkbox" name="clim" value="Climatisation">option de climatisation<br>
<input type="checkbox" name="reg" value="Regulateur">Présence de régulateur<br>
<input type="checkbox" name="Gps" value="GPS">absence de GPS<br>
<input type="submit" value="Submit">
</form>
</div>

 
   
</body>  
</html> 
