<html> 
<head>
    <meta charset="UTF-8">
    <title>Infos véhicules</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>  
<body>  
 
<form action="/recapSaisie" method="POST">  
<div class="control-group">
    <label class="control-label" for="marque">Saisir la marque</label>
    <div class="controls">
      <input type="text" id="marque" name="marque" placeholder="marque du vehicule">
    </div>
  </div>
  <br>
 <div class="control-group">
    <label class="control-label" for="modele">Entrez le modèle</label>
    <div class="controls">
      <input type="text" id="modele" name="modele" placeholder="modele du vehicule">
    </div>
  </div>
<br>

 <div class="control-group">
    <label class="control-label" for="categorie">Saisir la catégorie du véhicule</label>
    <div class="controls">
      <input type="text" id="categorie" name="categorie" placeholder="categorie du vehicule">
    </div>
  </div>
<br>

<div class="control-group">
    <label class="control-label" for="anneeImmat">Saisir l'annee du véhicule</label>
    <div class="controls">
      <input type="text" id="anneeImmat" name="anneeImmat" placeholder="annee vehicule">
    </div>
  </div>
<br>

<div class="control-group">
    <label class="control-label" for="energie">Carburant du véhicule</label>
    <div class="controls">
      <input type="text" id="energie" name="energie" placeholder="energie du vehicule">
    </div>
  </div>
<br>

<div class="control-group">
    <label class="control-label" for="pays">Pays d'origine</label>
    <div class="controls">
      <input type="text" id="pays" name="pays" placeholder="pays immatriculation">
    </div>
  </div>
<br>

<div class="control-group">
    <label class="control-label" for="puissance">Puissance</label>
    <div class="controls">
      <input type="text" id="puissance" name="puissance" placeholder="puissance fiscale">
    </div>
  </div>
<br>

<div class="control-group">
    <label class="control-label" for="prixAchat">Prix d'achat</label>
    <div class="controls">
      <input type="text" id="prixachat" name="prixachat" placeholder="prix achat véhicule">
    </div>
  </div>
<br>
  <button type="submit" class="btn">Submit</button>
</form>
 
   
</body>  
</html> 
